packrat/lib*/
.Rproj.user
.Rhistory
specdata/
practice_assignment/
# data I do not want to share
**/old_stuff/
programs/cdr/data/
**/data/*
rsconnect/

# default files produced by interpreter
**/.Rhistory

# knitr and R markdown default cache directories
*_cache/
*_files/
